{% extends "base.html" %}

{% block main_content %}
<!-- Mobile -->
<section class="mobile container-fluid hidden-lg">
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-xl-4">
					<div class="row">
						<div class="img-wrapper col-xs-12">
							<div class="img">
	
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-xl-4">
					<div class="row">
						<div class="col-xs-12" id="book-pc">
							<p>
								<span class="first-letter">Y</span> ou must make haste for you sense it is not safe to linger by the smoking
								remains
								of the ruined monastery. The black-winged beasts could return at any moment. You must set out for the
								Sommlending
								capital of Holmgard and tell the King the terrible news of the massacre: that the whole elite of Kai warriors
								save
								yourself have been slaughtered. Without the Kai Lords to lead her armies Sommerlund will be at the mercy of
								their
								ancient enemy the Darklords.
							</p>
							<p>
								Fighting back tears you bid farewell to your dead kinsmen. Silently you promise that their deaths will be
								avenged. You turn
								away from the ruins and carefully descend the steep track.
							</p>
							<p>
								At the foot of the hill the path splits into two directions both leading into a large wood.
							</p>
						</div>
	
						<div class="col-xs-12" id="buttons">
							<div class="book-hr"></div>
							<div class="button-wrapper text-center">
								<button class="btn">If you wish to use your Kai Discipline of Sixth Sense</button>
								<button class="btn">If you wish to take the right path into the wood</button>
								<button class="btn">If you wish to follow the left track</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- PC -->
<section class="pc container-fluid visible-lg">
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-xl-4">
					<div class="row">
						<div class="img-wrapper col-xs-12">
							<div class="img">
				
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-xl-4">
					<div class="row">
						<div class="col-xs-12" id="book-pc">
							<p>
								<span class="first-letter">Y</span> ou must make haste for you sense it is not safe to linger by the smoking
								remains
								of the ruined monastery. The black-winged beasts could return at any moment. You must set out for the
								Sommlending
								capital of Holmgard and tell the King the terrible news of the massacre: that the whole elite of Kai warriors
								save
								yourself have been slaughtered. Without the Kai Lords to lead her armies Sommerlund will be at the mercy of
								their
								ancient enemy the Darklords.
							</p>
							<p>
								Fighting back tears you bid farewell to your dead kinsmen. Silently you promise that their deaths will be
								avenged. You turn
								away from the ruins and carefully descend the steep track.
							</p>
							<p>
								At the foot of the hill the path splits into two directions both leading into a large wood.
							</p>
						</div>
				
						<div class="col-xs-12" id="buttons">
							<div class="book-hr"></div>
							<div class="button-wrapper text-center">
								<button class="btn">If you wish to use your Kai Discipline of Sixth Sense</button>
								<button class="btn">If you wish to take the right path into the wood</button>
								<button class="btn">If you wish to follow the left track</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock main_content %}