
<!-- Log in form -->
<div id="log-in-form" class="col-xs-12">
	<form class="row" method="POST" action="/login">
		<div class="form-group">
			<input type="text" name="user_name" autocomplete="off" class="form-control " placeholder="Account name" required>
		</div>
		<div class="form-group">
			<input type="password" name="password" class="form-control " placeholder="Password" required>
		</div>
		<div class="form-group">
			<button type="submit" class="btn-default-red">Log in</button>
		</div>
	</form>
	<button onclick="fade_out_in('#log-in-form', 700, true, '#index')" class="btn-default-red">Back</button>
</div>

<!-- Register form -->
<div id="register-form" class="col-xs-12">
	<form class="row" method="POST">
		<div class="form-group">
			<input type="text" name="user_name" autocomplete="off" class="form-control" placeholder="User name" required>
		</div>
		<div class="form-group">
			<input type="password" name="password" class="form-control" placeholder="Password" required>
		</div>
		<div class="form-group">
			<input type="password" name="re_password" class="form-control" placeholder="Repeat password" required>
		</div>
		<div class="form-group">
			<button type="submit" class="btn-default-red">Submit</button>
		</div>
	</form>
	<button onclick="fade_out_in('#register-form', 700, true, '#index')" class="btn-default-red">Back</button>
</div>