{% extends "base.html" %}

{% block css %}
<style>
	#main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: url("/static/img/index-background.png") no-repeat center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;		
	}

	#index,
	#log-in-form,
	#register-form {
		position: absolute;
		width: 100%;
		top: 45%
	}

	#log-in-form,
	#register-form {
		display: none;
	}

	#log-in-form {
		top: 40%;
	}

	#register-form {
		top: 36%;
	}

	section {
		width: 100%;
		height: 100vh;
	}
	
</style>
{% endblock css %}

{% block nav %}
<!-- TESTING ONLY -->
<nav class="container-fluid">
	<div class="navbar row navbar-right col-xs-1 hidden-xs">
		<div class="icon-wrapper col-xs-12">
			<div class="icon-border">
				<button onclick="return reset_data()" class="btn"><i class="fas fa-bug fa-2x"></i></button>
			</div>
		</div>
	</div>
</nav>
{% endblock nav %}

{% block main_content %}
<section class="container-fluid">
	<div class="row text-center">
		<div id="index" class="col-xs-12">
			{% if session.user %}
			{% if user.saves %}
			<div class="row">
				<div class="col-xs-12 text-center">
					<button class="btn-default-red">Load</button>
				</div>
			</div>
			{% endif %}
			<br>
			<div class="row">
				<div class="col-xs-12 text-center">
					<button class="btn-default-red" onclick=" return new_game()">New Game</button>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 text-center">
					<button onclick="return log_out()" class="btn-default-red" >Log Out</button>
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="col-xs-12 text-center">
					<button onclick="fade_out_in('#index', 700, true, '#log-in-form')" class="btn-default-red ">Login</button>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 text-center">
					<button onclick="fade_out_in('#index', 700, true, '#register-form')" class="btn-default-red ">Register</button>
				</div>
			</div>
			{% endif %}
		</div>
		{% include "forms.html" %}
	</div>
</section>
{% endblock main_content %}


{% block footer %}
  
{% endblock footer %}