/* Landscape SmartPhones */

@media (min-width: 640px) and (orientation: landscape) {
}

/* sm Screens */

@media (min-width: 350px) {
}

@media (max-width: 1023px) {
	#log-in-form,
	#register-form {
		min-width: 50%;
		left: 20%;
	}
	#register-form .form-group{
		margin: 0;
	}
	#register-form button,
	#log-in-form button {
		margin: 0px 45px;
	}
	/* #main button {
		margin: 0px;
	} */
	.icon-border {
		opacity: 1;
	}
}

/* lg Screens */

@media (min-width: 1024px) {
	#log-in-form,
	#register-form {
		left: 40%;
	}
	.form-control {
		margin-left: 20%
	}
	/* .content {
		padding: 100px 0px 250px; 
		    /* margin-left: 20%
	} */
}

/* xl Screens */

@media (min-width: 1400px) {
}
