/* 
General
*/


button {
	background-color: transparent;
	border: 0;
}
.btn {
	padding: 1px 6px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
}



p {
	color: #000000;
	padding-bottom: 15px;
}

h2 {
	font-weight: 700;
}

body {
	min-height: 100vh;
	background: url("../../../img/main.png") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*
Nav + Footer
*/

footer,
nav {
	position: fixed;
	padding: 15px 15px 0;
	z-index: 100;
	left: 0;
}

.icon-border {
	padding: 7px 0px 0px 3px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
	border: 2px solid rgb(190, 116, 35);
	width: 60px;
	height: 60px;
	opacity: 0.7;
}
.icon-border:hover {
	opacity: 1;
}
.icon-wrapper {
	display: inline-block;
	padding: 5px;
}

/*
Nav
*/

nav {
	top: 0;
	width: 100%;
	height: 25px;
}

.navbar-right {
	padding-right: 15px;
}

#main {
	min-height: 100vh;
}

/*
Book 
*/

.pc {
	background: url("../../../img/pc/book.png") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mobile {
	background: url("../../../img/mobile/book.png") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#content-wrapper {
	margin-bottom: 25px;
}
.content {
	padding-top: 160px;
	min-height: 100vh;
}

.first-letter {
	font-size: 30px;
	font-weight: 500;
	font-family: "Norican", cursive;
}

.img {
	border: 3px solid rgba(0, 0, 0, 0.7);
	height: 550px;
	background: url("../../../img/book/pokus.png") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

main button {
	margin: 15px 0;
	text-decoration: none;
	color: #dac5c5;
}

/* 
Map 
*/

.map-wrapper {
	width: auto;
	border: 2px solid rgb(190, 116, 35); 
	border-radius: 15px;
	background: url("../../../img/pc/map_bg.png") center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.map-wrapper img {
	text-align: center;
	margin: 15px;
	max-height: 700px;
}


/*
Char / Inventory
*/

.inventory-wrapper {
	height: auto;
	background: url("../../../img/pc/char.png") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.char-wrapper {
	background: url("../../../img/mobile/book.png") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.book-hr {
	padding: 5px 0;
	height: 15px;
	background: url("../../../img/pc/border-test.png") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

/*
Footer
*/

footer {
	padding: 5px 0;
	width: 100%;
	bottom: 0;
	background-color: transparent;
}

#alerts {
    position: absolute;
	display: none;
	width: 100%;
	min-height: 50px;
	padding: 15px 0px;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);    
}

#alerts p {
	margin: 10px 0px;
	color: #f1b662;
}
