/* 
General
*/

p {
    color: #000000;
    padding-bottom: 15px;
}

h2 {
    font-family: "Norican", cursive;
    font-weight: 700;
    color: #f1b662;
}

body {
    min-height: 100vh;
    background: url("../../../img/main.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
Nav + Footer
*/

#footer,
nav {
    position: fixed;
    padding: 15px 15px 0;
    z-index: 100;
    left: 0;
}

/*
Nav
*/

nav {
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-right {
    padding-right: 80px;
}


/*
Book 
*/

.mobile {
    min-height: 100vh;
    background: url("../../../img/mobile/book.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pc {
    min-height: 100vh;
    background: url("../../../img/pc/char.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.mobile>.row,
.pc>.row {
    position: absolute;
    top: 10%;
    display: flex;
    margin: 0;
    justify-content: center;
}

.pc>.row>.col-sm-8>.row {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.first-letter {
    font-size: 30px;
    font-weight: 500;
    font-family: "Norican", cursive;
}

.img {
    border: 3px solid rgba(0, 0, 0, 0.7);
    height: 550px;
    background: url("../../../img/book/pokus.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* 
Map 
*/

.map-wrapper {
    margin: 15px 0;
    padding: 0 30px;
    border: 2px solid rgb(190, 116, 35);
    border-radius: 15px;
    background: url("../../../img/pc/map_bg.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pc-map {
    background: url("../../../img/pc/map.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 80vh;
    width: 100%;
}

#mobile-map {
    background: url("../../../img/mobile/map.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 80vh;
    width: 100%;
}

/*
Char / Inventory
*/

.inventory-wrapper {
    height: auto;
    background: url("../../../img/pc/char.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.char-wrapper {
    background: url("../../../img/mobile/book.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.book-hr {
    padding: 5px 0;
    height: 15px;
    background: url("../../../img/pc/border-test.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

/*
Footer
*/

footer {
    padding: 5px 0;
    width: 100%;
    bottom: 0;
    background-color: transparent;
}

#alerts {
    position: absolute;
    display: none;
    width: 100%;
    min-height: 50px;
    padding: 15px 0px;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

#alerts p {
    text-align: center;
    margin: 10px 0px;
    color: #f1b662;
}